@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Xoş gəlmisiniz !</h1>
    <p><a href="@Url.Action("Index","Lesson")">Dərslər</a></p>
    <p><a href="@Url.Action("Index","Student")">Şagirdlər</a></p>
    <p><a href="@Url.Action("Index","Exam")">İmtahanlar</a></p>
</div>
